@font-face {
    font-family: "TofinoRegular";
    src: url("TofinoRegular.eot"); /* IE9 */
    src: url("TofinoRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("TofinoRegular.woff") format("woff"), /* chrome, firefox */
    url("TofinoRegular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("TofinoRegular.svg#TofinoRegular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


