    @font-face {
        font-family: 'TofinoUltra';
        src: url('../fonts/TofinoUltra.eot');
        src: url('../fonts/TofinoUltra.eot') format('embedded-opentype'), url('../fonts/TofinoUltra.woff') format('woff'), url('../fonts/TofinoUltra.ttf') format('truetype'), url('../fonts/TofinoUltra.svg#TofinoUltra') format('svg');
    }
    
    @font-face {
        font-family: 'TofinoRegular';
        src: url('../fonts/TofinoRegular.eot');
        src: url('../fonts/TofinoRegular.eot') format('embedded-opentype'), url('../fonts/TofinoRegular.woff') format('woff'), url('../fonts/TofinoRegular.ttf') format('truetype'), url('../fonts/TofinoRegular.svg#TofinoRegular') format('svg');
    }
    
    @font-face {
        font-family: 'TofinoBlack';
        src: url('../fonts/TofinoBlack.eot');
        src: url('../fonts/TofinoBlack.eot') format('embedded-opentype'), url('../fonts/TofinoBlack.woff') format('woff'), url('../fonts/TofinoBlack.ttf') format('truetype'), url('../fonts/TofinoBlack.svg#TofinoBlack') format('svg');
    }
    /******************* PRELOADER **********************/
    
    .sk-cube-grid {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    
    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #fff;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }
    
    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    
    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    
    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    
    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    
    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    
    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    
    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    
    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    
    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    
    @-webkit-keyframes sk-cubeGridScaleDelay {
        0%,
        70%,
        100% {
            -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
        }
        35% {
            -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
        }
    }
    
    @keyframes sk-cubeGridScaleDelay {
        0%,
        70%,
        100% {
            -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
        }
        35% {
            -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
        }
    }
    
    .preloader {
        position: fixed;
        z-index: 111111;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #103049;
        background-image: url('../images/bg-preloader.jpg');
    }
    
    .introAnim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 111114;
    }
    
    .introText {
        color: #fff;
        @extend.fontTofinoUltra;
        font-size: 45px;
        z-index: 12;
        text-transform: uppercase;
        position: fixed;
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        left: 50%;
        line-height: 110%;
        div {
            opacity: 1;
            top: 100%;
            transform: translateY(0);
            position: relative;
        }
        .author {
            font-size: 20px;
            text-align: right;
            line-height: 130%;
            margin-top: 20px;
            span {
                @extend.fontTofinoUltra;
            }
        }
        .smallText {
            font-size: 22px;
            text-transform: none
        }
        .halfText {
            margin-bottom: 20px;
            line-height: 130%;
            width: 45%;
            display: inline-block;
        }
    }
    
    .skipIntro {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        margin: auto;
        z-index: 1111111;
        text-transform: uppercase;
        color: #fff;
        bottom: 20px;
    }
    
    .blackPattern {
        background-color: rgba(0, 0, 0, 0.65);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 111114;
    }
    
    .videoContainer {
        text-align: center;
        position: relative;
        padding-bottom: 200px;
        a {
            display: block;
            background-color: #000;
        }
        img {
            width: 100%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
            @extend.transitionAll;
        }
        &:hover {
            img {
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
                opacity: 0.8;
            }
        }
        .centerText {
            color: #fff;
            @extend.fontTofinoUltra;
            text-transform: uppercase;
            font-size: 1.2em;
            letter-spacing: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            margin: auto;
            display: block;
        }
        .container {
            position: relative;
        }
        .videoPopup {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: none;
            iframe {
                height: 100%;
                width: 100%;
            }
            .fa-close {
                position: absolute;
                color: #fff;
                position: absolute;
                top: -0px;
                right: -40px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                background: #000;
                cursor: pointer;
                &:hover {
                    color: #000;
                    background: #fff;
                }
            }
        }
        &::after {
            position: absolute;
            height: 170px;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            content: '';
            width: 1px;
            background-color: #fff;
        }
    }
    
    .socialHolder {
        padding-bottom: 50px;
        background-color: #f8f8f8;
        h2 {
            text-align: center;
            color: #3071ac;
            @extend.fontTofinoUltra;
            font-size: 26px;
            padding: 100px 0 50px;
        }
    }
    
    .fontTofinoUltra {
        font-family: 'TofinoUltra';
    }
    
    .fontTofinoRegular {
        font-family: 'TofinoRegular';
    }
    
    .fontTofinoBlack {
        font-family: 'TofinoBlack';
    }
    
    .transitionAllSlow {
        -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        /* ease-in-out */
        -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        /* ease-in-out */
    }
    
    .transitionAll {
        -webkit-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -moz-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -o-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        /* ease-in-out */
        -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
        /* ease-in-out */
    }
    
    $blueColor:#3071AC;
    $pinkColor: #E04C6C;
    $darkPinkColor:#D63359;
    $darkBlueColor:#0F2C46;
    a {
        &:focus,
        &:active {
            outline: none;
            text-decoration: none;
        }
        &:hover {
            color: $blueColor;
            text-decoration: none;
            outline: none;
        }
    }
    
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
    
    body {
        background-image: url(../images/bg.jpg);
        background-repeat: repeat;
        background-position: center center;
        background-attachment: fixed;
        font-size: 18px;
    }
    
    .textShadow {
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
    }
    
    .zindexHigh {
        z-index: 1000;
        position: relative;
    }
    
    #scene {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 3;
        .layer {
            position: relative !important;
            height: 100%;
            img {
                z-index: 12;
                width: 110%;
                position: absolute;
                top: 0;
                margin-left: -5%;
            }
        }
    }
    
    .clearBoth {
        clear: both;
    }
    
    .btn {
        display: inline-block;
        a {
            text-transform: uppercase;
            position: relative;
            font-size: 0.7em;
            letter-spacing: 4px;
            direction: block;
            line-height: 100%;
            padding: 25px 70px 25px 100px;
            @extend.fontTofinoRegular;
            display: block;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            @extend.transitionAll;
            span.fa,
            .linkAnim {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 40px;
            }
            .linkAnim {
                width: 20px;
                height: 1px;
                position: absolute;
                &::after {
                    width: 5px;
                    height: 5px;
                    content: '';
                    position: absolute;
                    right: 0;
                    @extend.transitionAll;
                    top: -2px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                }
            }
        }
        &:hover {
            a {
                .linkAnim {
                    &::after {
                        right: 15px;
                    }
                }
            }
        }
        &.white {
            a {
                background-color: #fff;
                color: #777;
                .linkAnim {
                    background-color: #777;
                    &::after {
                        background-color: #777;
                    }
                }
            }
        }
        &.pink {
            a {
                box-shadow: 0 4px 11px 0 rgba(224, 76, 108, 0.5);
                background-color: $pinkColor;
                color: #fff;
            }
            &:hover {
                a {
                    background-color: $darkPinkColor;
                }
            }
        }
    }
    
    .header {
        margin: 80px 0;
        z-index: 112;
        position: relative;
        .logo {
            display: inline-block;
        }
        nav {
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            width: calc(100% - 285px);
            li {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                a {
                    @extend.fontTofinoRegular;
                    color: #fff;
                    font-size: 1em;
                    display: block;
                    line-height: 100%;
                    padding: 8px;
                    position: relative;
                    @extend.transitionAll;
                    &::before {
                        @extend.transitionAll;
                        width: 0;
                        background-color: rgba(0, 0, 0, 0.35);
                        content: '';
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:hover,
                    &.active {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    .search {
        display: inline-block;
        margin-left: 30px;
        .fa-search {
            padding: 5px;
            color: #fff;
            cursor: pointer;
        }
    }
    
    .firstScreen {
        width: 100%;
        top: 0;
        z-index: 1;
        left: 0;
        .container {
            text-align: center;
        }
        h1 {
            color: #fff;
            font-size: 1em;
            margin-top: 50px;
            span {
                @extend.fontTofinoUltra;
                @extend.textShadow;
                color: $blueColor;
                font-size: 5.5em;
            }
        }
        h2 {
            @extend.fontTofinoUltra;
            color: #fff;
            @extend.textShadow;
            font-size: 5.5em;
        }
        p {
            color: #fff;
            font-size: 1em;
            margin-top: 50px;
            width: 50%;
            margin: 0 auto;
        }
    }
    
    .toNextSection {
        position: absolute;
        bottom: 100px;
        z-index: 12;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        color: #fff;
        text-align: center;
        cursor: pointer;
        &::before {
            position: absolute;
            height: 30px;
            bottom: -55px;
            left: 50%;
            border: 1px solid #fff;
            border-radius: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            content: '';
            width: 30px;
        }
        &::after {
            position: absolute;
            height: 100px;
            bottom: -140px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            content: '';
            width: 1px;
            background-color: #fff;
        }
    }
    
    .timelineHolder {
        position: relative;
        z-index: 12;
        margin-top: -200px;
        background-image: url(../images/timeline-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        .timelineDate {
            text-align: center;
            font-size: 1em;
            @extend.fontTofinoRegular;
            color: #fff;
            margin-bottom: 20px;
        }
        .timelineList {
            position: relative;
            clear: both;
            &::after {
                position: absolute;
                height: 120%;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                content: '';
                width: 1px;
                background-color: #fff;
            }
            .timlineItem {
                position: relative;
                clear: both;
                z-index: 1;
                .timelineInfos {
                    width: 50%;
                    float: right;
                    padding-left: 80px;
                    text-align: left;
                    h3 {
                        font-size: 4em;
                        color: #fff;
                        @extend.textShadow;
                        @extend.fontTofinoUltra;
                    }
                    p {
                        font-size: 1em;
                        color: #fff;
                        @extend.fontTofinoRegular;
                    }
                }
                .timelineImage {
                    width: 50%;
                    float: left;
                    padding-right: 40px;
                    position: relative;
                    &::before {
                        height: 10px;
                        width: 10px;
                        background-color: #fff;
                        content: '';
                        position: absolute;
                        left: inherit;
                        top: 46px;
                        right: -30px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                    }
                    &::after {
                        height: 3px;
                        width: 124px;
                        background-color: #fff;
                        content: '';
                        position: absolute;
                        left: inherit;
                        top: 50px;
                        right: -30px;
                    }
                    img {
                        width: 100%;
                    }
                }
                &:nth-child(2n) {
                    .timelineInfos {
                        float: left;
                        text-align: right;
                        padding-right: 80px;
                        padding-left: 0px;
                    }
                    .timelineImage {
                        float: right;
                        padding-left: 40px;
                        padding-right: 0px;
                        &::after {
                            left: -30px;
                        }
                        &::before {
                            left: -30px;
                        }
                    }
                }
            }
        }
        .facts {
            text-align: center;
            color: #fff;
            width: 100%;
            position: relative;
            padding-top: 100px;
            padding-bottom: 250px;
            &::before {
                width: 1px;
                height: 150px;
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -28px;
                background-color: #fff;
            }
            .factsTitle {
                position: absolute;
                left: 50%;
                top: 200px;
                transform: translateX(-50%);
                letter-spacing: 4px;
                font-size: 0.6em;
                text-transform: uppercase
            }
            .factShape {
                overflow: hidden;
                margin-bottom: 20px;
                svg {
                    width: 78%;
                    margin-top: 10px;
                }
            }
            .st0 {
                text-align: center;
                fill: none;
                stroke: #fff;
                stroke-width: 1px;
                stroke-linecap: round;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
                stroke-opacity: 1;
                stroke-dasharray: 6000;
            }
            .factIcon {
                background-color: #fff;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                width: 45px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                margin: 0 auto 5px;
                img {
                    width: 25px;
                }
            }
            .factPrice {
                font-size: 1.8em;
                @extend.fontTofinoUltra;
                color: $pinkColor;
                text-shadow: 0 8px 14px rgba(0, 0, 0, 0.35);
            }
            .col-md-3 {
                &:hover {
                    .factPrice {
                        color: $darkPinkColor;
                    }
                }
            }
        }
    }
    
    .absoluteRight {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
    
    .whiteSection {
        background-color: #fff;
        padding: 65px 0 100px;
        color: #777;
        font-size: 1em;
        text-align: center;
        position: relative;
        z-index: 12;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0px;
            height: 40px;
            width: 1px;
            background-color: #777;
            opacity: 0.5;
        }
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -125px;
            height: 200px;
            width: 1px;
            background-color: #777;
            opacity: 0.5;
        }
        p {
            margin-bottom: 30px;
        }
        .btn {
            margin: 0 0 0 30px;
        }
    }
    
    .cardHolder {
        padding: 150px 0;
        width: 100%;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-image: url(../images/card-bg.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
        .leftTitle,
        .rightTitle {
            color: $pinkColor;
            position: absolute;
            top: -50px;
            font-size: 1.1em;
            @extend.fontTofinoRegular;
            letter-spacing: 8px;
            text-transform: uppercase;
            left: 50%;
            transform: translateX(-50%);
        }
        .leftTitle {
            left: 20%;
        }
        .rightTitle {
            left: 80%;
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0px;
            height: 150px;
            width: 2px;
            background-color: #fff;
            opacity: 0.5;
        }
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
            height: 150px;
            width: 2px;
            background-color: #fff;
            opacity: 0.5;
        }
        .circle-container {
            position: relative;
            width: 700px;
            height: 700px;
            z-index: 12;
            padding: 0;
            border: 1px solid #fff;
            border-radius: 50%;
            margin: 0 auto;
            li {
                display: block;
                position: absolute;
                top: 50%;
                left: 75%;
                width: 400px;
                margin: -0.5em;
                text-align: left;
                z-index: 12;
                padding-left: 40px;
                font-size: 0.8em;
                color: #fff;
                text-align: left;
                font-size: 1em;
                .cardTitle {
                    @extend.fontTofinoUltra;
                    opacity: 0.5;
                    @extend.transitionAll;
                }
                .cardInfos {
                    @extend.transitionAll;
                    opacity: 0;
                    visibility: hidden;
                    @extend.fontTofinoRegular;
                    font-size: 0.8em;
                }
                &::after {
                    position: absolute;
                    top: 9px;
                    left: 2px;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    margin: -2px;
                    background: #fff;
                    opacity: 1;
                    content: '';
                    @extend.transitionAll;
                }
                &::before {
                    position: absolute;
                    top: 7px;
                    left: 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    margin: -2px;
                    opacity: 1;
                    content: '';
                    @extend.transitionAll;
                    border: 3px solid #fff;
                }
                &:hover {
                    .cardTitle {
                        opacity: 1;
                        font-size: 1.2em;
                    }
                    &::after {
                        background-color: $darkPinkColor;
                    }
                    &::before {
                        width: 30px;
                        height: 30px;
                        border: 3px solid $darkPinkColor;
                        top: 1px;
                        left: -6px;
                    }
                    .cardInfos {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            ul {
                &.alignLeft {
                    li {
                        right: 50%;
                        left: inherit;
                        padding-left: 0px;
                        padding-right: 40px;
                        text-align: right;
                        &::after {
                            right: 0;
                            left: inherit;
                        }
                        &::before {
                            right: -3px;
                            left: inherit;
                        }
                        &:hover {
                            &::before {
                                top: 1px;
                                right: -8px;
                                left: inherit;
                            }
                        }
                    }
                }
            }
            .cardTilt {
                width: 100%;
                height: 100%;
                img {
                    top: 50%;
                    position: absolute;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                }
            }
            .deg30 {
                transform: translateY(-310px) translateX(0px);
            }
            .deg60 {
                transform: translateY(-200px) translateX(118px);
            }
            .deg90 {
                transform: translateY(-90px) translateX(167px);
            }
            .deg120 {
                transform: translateY(20px) translateX(176px);
            }
            .deg150 {
                transform: translateY(130px) translateX(150px);
            }
            .deg180 {
                transform: translateY(240px) translateX(77px);
            }
            .deg210 {
                transform: translateY(-310px) translateX(-177px);
            }
            .deg240 {
                transform: translateY(-180px) translateX(-308px);
            }
            .deg270 {
                transform: translateY(-30px) translateX(-353px);
            }
            .deg300 {
                transform: translateY(120px) translateX(-331px);
            }
            .deg330 {
                transform: translateY(250px) translateX(-244px);
            }
        }
    }
    
    .latestNewsSection {
        padding: 100px 0;
        position: relative;
        background-color: rgba(0, 0, 0, 0.33);
        h2 {
            font-size: 0.7em;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 4px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0px;
            height: 50px;
            width: 2px;
            background-color: #fff;
            opacity: 0.5;
        }
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 35px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            height: 30px;
            width: 30px;
            border: 1px solid #fff;
            opacity: 0.5;
        }
    }
    
    .footer {
        padding: 30px 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.33);
        .footerLogo {
            opacity: 0.5;
        }
        .credit {
            color: #fff;
            opacity: 0.5;
            margin: 10px 0 0;
            font-size: 0.6em;
            letter-spacing: 4px;
        }
    }
    
    .latestNewsSection {
        .swiper-container {
            width: 100%;
            margin: 0px auto 0;
            padding: 100px 0;
        }
        .swiper-slide {
            text-align: center;
            width: 350px;
            height: 600px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
    
    .itemContainer {
        position: relative;
        height: 100%;
        width: 100%;
        .itemImage {
            height: 100%;
            overflow: hidden;
            border-radius: 15px;
            img {
                height: 100%;
                @extend.transitionAll;
            }
        }
        .itemTitle {
            position: absolute;
            font-size: 2em;
            color: #fff;
            text-shadow: 0 8px 14px rgba(0, 0, 0, 0.35);
            bottom: 60px;
            line-height: 120%;
            left: 5%;
            text-align: left;
            @extend.fontTofinoRegular;
        }
        .itemBottom {
            position: absolute;
            bottom: -20px;
            background: #fff;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            .itemLeft {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0.6em;
                opacity: 0.44;
                color: #5E5E5E;
                letter-spacing: 4px;
                padding-left: 20px;
                a {
                    color: #5E5E5E;
                }
                span.fa {
                    font-size: 1.5em;
                }
            }
            .itemLink {
                a {
                    font-size: 0.6em;
                    letter-spacing: 4px;
                    color: #5E5E5E;
                    display: block;
                    line-height: 60px;
                    height: 60px;
                    text-transform: uppercase;
                    @extend.fontTofinoRegular;
                    text-align: right;
                    padding-right: 50px;
                    .linkAnim {
                        width: 20px;
                        right: 20px;
                        height: 1px;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                        background-color: #5E5E5E;
                        &::after {
                            width: 5px;
                            height: 5px;
                            background-color: #5E5E5E;
                            content: '';
                            position: absolute;
                            right: 0;
                            @extend.transitionAll;
                            top: -2px;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                        }
                    }
                }
            }
        }
        &:hover {
            .itemImage {
                img {
                    opacity: 0.8;
                }
            }
            .itemBottom {
                .itemLink {
                    a {
                        .linkAnim {
                            &::after {
                                right: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .fixedScroll {
        overflow: hidden;
        .search {
            background-color: rgba(0, 0, 0, 0.35);
        }
    }
    
    .searchPopup {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        input {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 12;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0.45;
            color: #fff;
            font-size: 5.5em;
            @extend.fontTofinoUltra;
            text-transform: uppercase;
            text-align: center;
            background-color: transparent;
            border: none;
            outline: none;
        }
         ::-webkit-input-placeholder {
            opacity: 1;
            color: #fff;
        }
         ::-moz-placeholder {
            opacity: 1;
            color: #fff;
        }
         :-ms-input-placeholder {
            opacity: 1;
            color: #fff;
        }
         :-moz-placeholder {
            opacity: 1;
            color: #fff;
        }
        .suggestion {
            position: absolute;
            bottom: 8%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 12;
            text-align: center;
            color: #fff;
            letter-spacing: 4px;
            font-size: 0.6em;
            @extend.fontTofinoRegular;
            ul {
                margin-top: 20px;
            }
            li {
                a {
                    color: #fff;
                    font-size: 1.5em;
                    @extend.fontTofinoRegular;
                    letter-spacing: 0px;
                    display: block;
                    text-decoration: underline;
                    margin-bottom: 15px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .topImage {
        background-image: url(../images/bg-top.jpg);
        background-size: 100% auto;
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    
    .newsListing {
        .itemContainer {
            margin-bottom: 70px;
            height: 570px;
        }
    }
    
    .pressListing {
        .itemContainer {
            margin-bottom: 70px;
            height: 370px;
            .itemImage {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    
    .resourcesListing {
        .itemContainer {
            margin-bottom: 70px;
            height: 350px;
        }
    }
    
    .insideSearch {
        margin: 70px 0;
        position: relative;
         ::-webkit-input-placeholder {
            opacity: 1;
            color: #fff;
        }
         ::-moz-placeholder {
            opacity: 1;
            color: #fff;
        }
         :-ms-input-placeholder {
            opacity: 1;
            color: #fff;
        }
         :-moz-placeholder {
            opacity: 1;
            color: #fff;
        }
        .inputSearch {
            width: 100%;
            border: none;
            border-bottom: 1px solid #fff;
            background: none;
            line-height: 40px;
            padding-left: 20px;
            outline: none;
            color: #fff;
        }
        .submitSearch {
            position: absolute;
            background: none;
            cursor: pointer;
            color: $pinkColor;
            letter-spacing: 4px;
            @extend.fontTofinoUltra;
            font-size: 0.6em;
            border: none;
            right: 0;
            top: 10px;
            outline: none;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    
    .insidePagesContent {
        h1 {
            opacity: 0.35;
            color: #FFFFFF;
            @extend.fontTofinoUltra;
            font-size: 5.5em;
            line-height: 107px;
            text-align: center;
            text-shadow: 0 8px 14px rgba(0, 0, 0, 0.35);
            text-transform: uppercase;
            margin-bottom: -30px;
        }
    }
    
    .qaListing {
        position: relative;
        z-index: 12;
        .qaItem {
            margin-bottom: 50px;
            .qaContent {
                background-color: #D2D2D2;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                padding: 30px 30px 50px 30px;
                .qaExpandableArea {
                    display: none;
                }
                .qaTitle {
                    color: #5F5F5F;
                    @extend.fontTofinoUltra;
                    font-size: 1.3em;
                    margin-bottom: 20px;
                }
                .qaDetails {
                    font-size: 0.7em;
                    color: #777777;
                    @extend.fontTofinoRegular;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #979797;
                }
                .shareQa {
                    text-align: right;
                    font-size: 0.7em;
                    color: #777777;
                    margin-bottom: 20px;
                    a {
                        display: inline-block;
                        margin: 0 3px;
                        @extend.transitionAll;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    .fa {
                        font-size: 2em;
                    }
                    .fa-facebook-official {
                        color: #475993;
                    }
                    .fa-linkedin-square {
                        color: #0077b7;
                    }
                    .fa-twitter {
                        color: #76a9ea;
                    }
                }
            }
            .btn {
                display: block;
                text-align: right;
                width: 96%;
                margin: -50px auto 0;
                a {
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    display: block;
                    &.opened {
                        color: rgba(0, 0, 0, 0.2);
                        .linkAnim {
                            opacity: 0.2;
                            &::after {
                                right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .fullHeightSpace {
        position: relative;
        margin-top: -240px;
    }
    
    .aboutIntro {
        position: absolute;
        z-index: 12;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 200px;
        h2 {
            color: $blueColor;
            font-size: 5em;
            @extend.fontTofinoUltra;
            @extend.textShadow;
        }
        .introAboutScroll {
            position: absolute;
            top: 250px;
            left: 50%;
            transform: translateX(-50%);
            height: 50%;
            overflow: hidden;
            color: rgba(255, 255, 255, 0.7);
        }
    }
    
    .refugeeBenefits {
        background-image: url(../images/card-bg.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
        h2 {
            color: #FFFFFF;
            @extend.fontTofinoRegular;
            font-size: 0.6em;
            letter-spacing: 4px;
            line-height: 20px;
            text-align: center;
            padding: 100px 0;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0px;
                height: 80px;
                width: 2px;
                background-color: #fff;
                opacity: 0.5;
            }
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0px;
                height: 80px;
                width: 2px;
                background-color: #fff;
                opacity: 0.5;
            }
        }
        .refugeeSlider {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0px;
                height: 100%;
                width: 2px;
                background-color: #fff;
                opacity: 0.5;
            }
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -15px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                height: 30px;
                width: 30px;
                border: 1px solid #fff;
                opacity: 0.5;
            }
            height: 500px;
            padding-bottom:100px;
            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .refugeeImage {
                width: 400px;
                margin: 0 auto;
                height: 400px;
                background-color: #000;
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                -webkit-border-radius: 50%;
                opacity: 0;
                @extend.transitionAllSlow;
                transition-delay: 0.2s;
                &::before {
                    width: 360px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    height: 360px;
                    content: '';
                    background-color: transparent;
                    border: 1px solid #fff;
                    position: absolute;
                    left: 20px;
                    z-index: 12;
                    top: 20px;
                }
                img {
                    opacity: 0.4;
                    display: block;
                    height: 100%;
                    position: relative;
                }
            }
            .sliderLeft {
                width: 50%;
                float: left;
                text-align: right;
            }
            .sliderRight {
                width: 44%;
                float: right;
                padding-right: 4%;
                position: relative;
                height: 100%;
            }
            .refugeeInfos {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;
                &::after {
                    top: 50%;
                    transform: translateY(-50%);
                    @extend.transitionAllSlow;
                    content: '';
                    width: 0%;
                    height: 3px;
                    background-color: #fff;
                    right: 0px;
                    position: absolute;
                }
                &::before {
                    top: 50%;
                    content: '';
                    width: 15px;
                    height: 15px;
                    transform: translateY(-50%);
                    @extend.transitionAllSlow;
                    transition-delay: 0.4s;
                    opacity: 0;
                    background-color: #fff;
                    left: -60%;
                    position: absolute;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                }
                .refugeePrice {
                    color: #fff;
                    font-size: 4em;
                    @extend.fontTofinoUltra;
                    text-shadow: 0 11px 14px rgba(0, 0, 0, 0.44);
                    margin-bottom: 40px;
                    transform: translateY(-30px);
                    opacity: 0;
                    @extend.transitionAllSlow;
                    transition-delay: 0.2s;
                }
                .refugeeTitle {
                    color: #fff;
                    font-size: 1em;
                    @extend.fontTofinoUltra;
                    transform: translateY(30px);
                    opacity: 0;
                    @extend.transitionAllSlow;
                    transition-delay: 0.3s;
                }
                .refugeeDescription {
                    color: #fff;
                    opacity: 0.5;
                    font-size: 0.9em;
                    @extend.fontTofinoRegular;
                    transform: translateY(30px);
                    opacity: 0;
                    @extend.transitionAllSlow;
                    transition-delay: 0.4s;
                }
            }
            .swiper-slide {
                &.swiper-slide-active {
                    .refugeePrice,
                    .refugeeTitle,
                    .refugeeDescription {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                    .refugeeInfos {
                        &::after {
                            width: 160%;
                        }
                        &::before {
                            opacity: 1;
                        }
                    }
                    .refugeeImage {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }
            .swiper-button-prev {
                width: 22px;
                height: 22px;
                background: url(../images/up-arrow.png) no-repeat 0 0 / 100% auto;
                right: 0;
                left: inherit;
                margin-bottom: 30px;
                transform: translateY(-50%);
            }
            .swiper-button-next {
                right: 0;
                left: inherit;
                margin-top: 30px;
                width: 22px;
                height: 22px;
                background: url(../images/down-arrow.png) no-repeat 0 0 / 100% auto;
                transform: translateY(-50%);
            }
        }
        .aboutBottomContent {
            width: 45%;
            margin: 0 auto;
            padding: 50px 0 100px;
            text-shadow: 0 8px 14px rgba(0, 0, 0, 0.35);
            text-align: center;
            color: #fff;
            @extend.fontTofinoRegular;
        }
    }
    
    .burgerMenu {
        display: none;
    }
    
    .moreNews {
        text-align: center;
        a {
            span.fa {
                display: inline-block;
                width: 120px;
                height: 120px;
                line-height: 120px;
                margin-bottom: 10px;
                background-color: #fff;
                border-radius: 50%;
                font-size: 1.5em;
                -webkit-border-radius: 50%;
                color: #777;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            }
            color:#fff;
            font-size: 0.8em;
            letter-spacing: 4px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    
    .quoteHolder {
        position: relative;
        padding: 100px 0 200px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        .quote {
            position: relative;
            margin-bottom: 200px;
            p {
                color: #fff;
                @extend.fontTofinoUltra;
                font-size: 26px;
            }
            span.quoteIcon {
                font-size: 100px;
                top: -40px;
                left: -80px;
                color: #fff;
                @extend.fontTofinoUltra;
                position: absolute;
                &.last {
                    top: inherit;
                    bottom: 20px;
                    left: inherit;
                    right: -20px;
                }
            }
            .author {
                text-align: right;
                margin-top: 80px;
                color: #fff;
                @extend.fontTofinoUltra;
                span {
                    @extend.fontTofinoRegular;
                }
            }
        }
    }
    
    .quotePopup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1211;
        height: 100%;
        display: none;
        &.shown {
            display: block;
        }
        .quoteOverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            opacity: 0;
        }
        .quoteModal {
            position: absolute;
            z-index: 12;
            width: 0px;
            height: 100%;
            right: 0;
            padding: 100px 0px;
            overflow: hidden;
            top: 0;
            background: #edeef0 url('../images/bg-overlay.jpg') no-repeat center center;
            background-size: cover;
            color: #3071ac;
            font-size: 19px;
            p {
                opacity: 0;
            }
            span {
                font-weight: bold;
            }
        }
    }