@font-face {
  font-family: 'TofinoUltra';
  src: url("../fonts/TofinoUltra.eot");
  src: url("../fonts/TofinoUltra.eot") format("embedded-opentype"), url("../fonts/TofinoUltra.woff") format("woff"), url("../fonts/TofinoUltra.ttf") format("truetype"), url("../fonts/TofinoUltra.svg#TofinoUltra") format("svg"); }

@font-face {
  font-family: 'TofinoRegular';
  src: url("../fonts/TofinoRegular.eot");
  src: url("../fonts/TofinoRegular.eot") format("embedded-opentype"), url("../fonts/TofinoRegular.woff") format("woff"), url("../fonts/TofinoRegular.ttf") format("truetype"), url("../fonts/TofinoRegular.svg#TofinoRegular") format("svg"); }

@font-face {
  font-family: 'TofinoBlack';
  src: url("../fonts/TofinoBlack.eot");
  src: url("../fonts/TofinoBlack.eot") format("embedded-opentype"), url("../fonts/TofinoBlack.woff") format("woff"), url("../fonts/TofinoBlack.ttf") format("truetype"), url("../fonts/TofinoBlack.svg#TofinoBlack") format("svg"); }

/******************* PRELOADER **********************/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

.preloader {
  position: fixed;
  z-index: 111111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #103049;
  background-image: url("../images/bg-preloader.jpg"); }

.introAnim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 111114; }

.introText {
  color: #fff;
  font-size: 45px;
  z-index: 12;
  text-transform: uppercase;
  position: fixed;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  line-height: 110%; }
  .introText div {
    opacity: 1;
    top: 100%;
    transform: translateY(0);
    position: relative; }
  .introText .author {
    font-size: 20px;
    text-align: right;
    line-height: 130%;
    margin-top: 20px; }
  .introText .smallText {
    font-size: 22px;
    text-transform: none; }
  .introText .halfText {
    margin-bottom: 20px;
    line-height: 130%;
    width: 45%;
    display: inline-block; }

.skipIntro {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  margin: auto;
  z-index: 1111111;
  text-transform: uppercase;
  color: #fff;
  bottom: 20px; }

.blackPattern {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111114; }

.videoContainer {
  text-align: center;
  position: relative;
  padding-bottom: 200px; }
  .videoContainer a {
    display: block;
    background-color: #000; }
  .videoContainer img {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  .videoContainer:hover img {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
    opacity: 0.8; }
  .videoContainer .centerText {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    display: block; }
  .videoContainer .container {
    position: relative; }
  .videoContainer .videoPopup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none; }
    .videoContainer .videoPopup iframe {
      height: 100%;
      width: 100%; }
    .videoContainer .videoPopup .fa-close {
      position: absolute;
      color: #fff;
      position: absolute;
      top: -0px;
      right: -40px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #000;
      cursor: pointer; }
      .videoContainer .videoPopup .fa-close:hover {
        color: #000;
        background: #fff; }
  .videoContainer::after {
    position: absolute;
    height: 170px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    content: '';
    width: 1px;
    background-color: #fff; }

.socialHolder {
  padding-bottom: 50px;
  background-color: #f8f8f8; }
  .socialHolder h2 {
    text-align: center;
    color: #3071ac;
    font-size: 26px;
    padding: 100px 0 50px; }

.fontTofinoUltra, .introText, .introText .author span, .videoContainer .centerText, .socialHolder h2, .firstScreen h1 span, .firstScreen h2, .timelineHolder .timelineList .timlineItem .timelineInfos h3, .timelineHolder .facts .factPrice, .cardHolder .circle-container li .cardTitle, .searchPopup input, .insideSearch .submitSearch, .insidePagesContent h1, .qaListing .qaItem .qaContent .qaTitle, .aboutIntro h2, .refugeeBenefits .refugeeSlider .refugeeInfos .refugeePrice, .refugeeBenefits .refugeeSlider .refugeeInfos .refugeeTitle, .quoteHolder .quote p, .quoteHolder .quote span.quoteIcon, .quoteHolder .quote .author {
  font-family: 'TofinoUltra'; }

.fontTofinoRegular, .btn a, .header nav li a, .timelineHolder .timelineDate, .timelineHolder .timelineList .timlineItem .timelineInfos p, .cardHolder .leftTitle,
.cardHolder .rightTitle, .cardHolder .circle-container li .cardInfos, .itemContainer .itemTitle, .itemContainer .itemBottom .itemLink a, .searchPopup .suggestion, .searchPopup .suggestion li a, .qaListing .qaItem .qaContent .qaDetails, .refugeeBenefits h2, .refugeeBenefits .refugeeSlider .refugeeInfos .refugeeDescription, .refugeeBenefits .aboutBottomContent, .quoteHolder .quote .author span {
  font-family: 'TofinoRegular'; }

.fontTofinoBlack {
  font-family: 'TofinoBlack'; }

.transitionAllSlow, .refugeeBenefits .refugeeSlider .refugeeImage, .refugeeBenefits .refugeeSlider .refugeeInfos::after, .refugeeBenefits .refugeeSlider .refugeeInfos::before, .refugeeBenefits .refugeeSlider .refugeeInfos .refugeePrice, .refugeeBenefits .refugeeSlider .refugeeInfos .refugeeTitle, .refugeeBenefits .refugeeSlider .refugeeInfos .refugeeDescription {
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */ }

.transitionAll, .videoContainer img, .btn a, .btn a .linkAnim::after, .header nav li a, .header nav li a::before, .cardHolder .circle-container li .cardTitle, .cardHolder .circle-container li .cardInfos, .cardHolder .circle-container li::after, .cardHolder .circle-container li::before, .itemContainer .itemImage img, .itemContainer .itemBottom .itemLink a .linkAnim::after, .qaListing .qaItem .qaContent .shareQa a {
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */ }

a:focus, a:active {
  outline: none;
  text-decoration: none; }

a:hover {
  color: #3071AC;
  text-decoration: none;
  outline: none; }

h1,
h2,
h3,
h4 {
  margin: 0; }

body {
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  font-size: 18px; }

.textShadow, .firstScreen h1 span, .firstScreen h2, .timelineHolder .timelineList .timlineItem .timelineInfos h3, .aboutIntro h2 {
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45); }

.zindexHigh {
  z-index: 1000;
  position: relative; }

#scene {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3; }
  #scene .layer {
    position: relative !important;
    height: 100%; }
    #scene .layer img {
      z-index: 12;
      width: 110%;
      position: absolute;
      top: 0;
      margin-left: -5%; }

.clearBoth {
  clear: both; }

.btn {
  display: inline-block; }
  .btn a {
    text-transform: uppercase;
    position: relative;
    font-size: 0.7em;
    letter-spacing: 4px;
    direction: block;
    line-height: 100%;
    padding: 25px 70px 25px 100px;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
    .btn a span.fa,
    .btn a .linkAnim {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 40px; }
    .btn a .linkAnim {
      width: 20px;
      height: 1px;
      position: absolute; }
      .btn a .linkAnim::after {
        width: 5px;
        height: 5px;
        content: '';
        position: absolute;
        right: 0;
        top: -2px;
        border-radius: 50%;
        -webkit-border-radius: 50%; }
  .btn:hover a .linkAnim::after {
    right: 15px; }
  .btn.white a {
    background-color: #fff;
    color: #777; }
    .btn.white a .linkAnim {
      background-color: #777; }
      .btn.white a .linkAnim::after {
        background-color: #777; }
  .btn.pink a {
    box-shadow: 0 4px 11px 0 rgba(224, 76, 108, 0.5);
    background-color: #E04C6C;
    color: #fff; }
  .btn.pink:hover a {
    background-color: #D63359; }

.header {
  margin: 80px 0;
  z-index: 112;
  position: relative; }
  .header .logo {
    display: inline-block; }
  .header nav {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: calc(100% - 285px); }
    .header nav li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
      .header nav li a {
        color: #fff;
        font-size: 1em;
        display: block;
        line-height: 100%;
        padding: 8px;
        position: relative; }
        .header nav li a::before {
          width: 0;
          background-color: rgba(0, 0, 0, 0.35);
          content: '';
          height: 100%;
          position: absolute;
          left: 0;
          top: 0; }
        .header nav li a:hover::before, .header nav li a.active::before {
          width: 100%; }

.search {
  display: inline-block;
  margin-left: 30px; }
  .search .fa-search {
    padding: 5px;
    color: #fff;
    cursor: pointer; }

.firstScreen {
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0; }
  .firstScreen .container {
    text-align: center; }
  .firstScreen h1 {
    color: #fff;
    font-size: 1em;
    margin-top: 50px; }
    .firstScreen h1 span {
      color: #3071AC;
      font-size: 5.5em; }
  .firstScreen h2 {
    color: #fff;
    font-size: 5.5em; }
  .firstScreen p {
    color: #fff;
    font-size: 1em;
    margin-top: 50px;
    width: 50%;
    margin: 0 auto; }

.toNextSection {
  position: absolute;
  bottom: 100px;
  z-index: 12;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  color: #fff;
  text-align: center;
  cursor: pointer; }
  .toNextSection::before {
    position: absolute;
    height: 30px;
    bottom: -55px;
    left: 50%;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    content: '';
    width: 30px; }
  .toNextSection::after {
    position: absolute;
    height: 100px;
    bottom: -140px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    content: '';
    width: 1px;
    background-color: #fff; }

.timelineHolder {
  position: relative;
  z-index: 12;
  margin-top: -200px;
  background-image: url(../images/timeline-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto; }
  .timelineHolder .timelineDate {
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin-bottom: 20px; }
  .timelineHolder .timelineList {
    position: relative;
    clear: both; }
    .timelineHolder .timelineList::after {
      position: absolute;
      height: 120%;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      content: '';
      width: 1px;
      background-color: #fff; }
    .timelineHolder .timelineList .timlineItem {
      position: relative;
      clear: both;
      z-index: 1; }
      .timelineHolder .timelineList .timlineItem .timelineInfos {
        width: 50%;
        float: right;
        padding-left: 80px;
        text-align: left; }
        .timelineHolder .timelineList .timlineItem .timelineInfos h3 {
          font-size: 4em;
          color: #fff; }
        .timelineHolder .timelineList .timlineItem .timelineInfos p {
          font-size: 1em;
          color: #fff; }
      .timelineHolder .timelineList .timlineItem .timelineImage {
        width: 50%;
        float: left;
        padding-right: 40px;
        position: relative; }
        .timelineHolder .timelineList .timlineItem .timelineImage::before {
          height: 10px;
          width: 10px;
          background-color: #fff;
          content: '';
          position: absolute;
          left: inherit;
          top: 46px;
          right: -30px;
          border-radius: 50%;
          -webkit-border-radius: 50%; }
        .timelineHolder .timelineList .timlineItem .timelineImage::after {
          height: 3px;
          width: 124px;
          background-color: #fff;
          content: '';
          position: absolute;
          left: inherit;
          top: 50px;
          right: -30px; }
        .timelineHolder .timelineList .timlineItem .timelineImage img {
          width: 100%; }
      .timelineHolder .timelineList .timlineItem:nth-child(2n) .timelineInfos {
        float: left;
        text-align: right;
        padding-right: 80px;
        padding-left: 0px; }
      .timelineHolder .timelineList .timlineItem:nth-child(2n) .timelineImage {
        float: right;
        padding-left: 40px;
        padding-right: 0px; }
        .timelineHolder .timelineList .timlineItem:nth-child(2n) .timelineImage::after {
          left: -30px; }
        .timelineHolder .timelineList .timlineItem:nth-child(2n) .timelineImage::before {
          left: -30px; }
  .timelineHolder .facts {
    text-align: center;
    color: #fff;
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 250px; }
    .timelineHolder .facts::before {
      width: 1px;
      height: 150px;
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -28px;
      background-color: #fff; }
    .timelineHolder .facts .factsTitle {
      position: absolute;
      left: 50%;
      top: 200px;
      transform: translateX(-50%);
      letter-spacing: 4px;
      font-size: 0.6em;
      text-transform: uppercase; }
    .timelineHolder .facts .factShape {
      overflow: hidden;
      margin-bottom: 20px; }
      .timelineHolder .facts .factShape svg {
        width: 78%;
        margin-top: 10px; }
    .timelineHolder .facts .st0 {
      text-align: center;
      fill: none;
      stroke: #fff;
      stroke-width: 1px;
      stroke-linecap: round;
      stroke-linejoin: miter;
      stroke-miterlimit: 4;
      stroke-opacity: 1;
      stroke-dasharray: 6000; }
    .timelineHolder .facts .factIcon {
      background-color: #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      margin: 0 auto 5px; }
      .timelineHolder .facts .factIcon img {
        width: 25px; }
    .timelineHolder .facts .factPrice {
      font-size: 1.8em;
      color: #E04C6C;
      text-shadow: 0 8px 14px rgba(0, 0, 0, 0.35); }
    .timelineHolder .facts .col-md-3:hover .factPrice {
      color: #D63359; }

.absoluteRight {
  position: absolute;
  bottom: 30px;
  right: 30px; }

.whiteSection {
  background-color: #fff;
  padding: 65px 0 100px;
  color: #777;
  font-size: 1em;
  text-align: center;
  position: relative;
  z-index: 12; }
  .whiteSection::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    height: 40px;
    width: 1px;
    background-color: #777;
    opacity: 0.5; }
  .whiteSection::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -125px;
    height: 200px;
    width: 1px;
    background-color: #777;
    opacity: 0.5; }
  .whiteSection p {
    margin-bottom: 30px; }
  .whiteSection .btn {
    margin: 0 0 0 30px; }

.cardHolder {
  padding: 150px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-image: url(../images/card-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center; }
  .cardHolder .leftTitle,
  .cardHolder .rightTitle {
    color: #E04C6C;
    position: absolute;
    top: -50px;
    font-size: 1.1em;
    letter-spacing: 8px;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%); }
  .cardHolder .leftTitle {
    left: 20%; }
  .cardHolder .rightTitle {
    left: 80%; }
  .cardHolder::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    height: 150px;
    width: 2px;
    background-color: #fff;
    opacity: 0.5; }
  .cardHolder::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    height: 150px;
    width: 2px;
    background-color: #fff;
    opacity: 0.5; }
  .cardHolder .circle-container {
    position: relative;
    width: 700px;
    height: 700px;
    z-index: 12;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 auto; }
    .cardHolder .circle-container li {
      display: block;
      position: absolute;
      top: 50%;
      left: 75%;
      width: 400px;
      margin: -0.5em;
      text-align: left;
      z-index: 12;
      padding-left: 40px;
      font-size: 0.8em;
      color: #fff;
      text-align: left;
      font-size: 1em; }
      .cardHolder .circle-container li .cardTitle {
        opacity: 0.5; }
      .cardHolder .circle-container li .cardInfos {
        opacity: 0;
        visibility: hidden;
        font-size: 0.8em; }
      .cardHolder .circle-container li::after {
        position: absolute;
        top: 9px;
        left: 2px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: -2px;
        background: #fff;
        opacity: 1;
        content: ''; }
      .cardHolder .circle-container li::before {
        position: absolute;
        top: 7px;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: -2px;
        opacity: 1;
        content: '';
        border: 3px solid #fff; }
      .cardHolder .circle-container li:hover .cardTitle {
        opacity: 1;
        font-size: 1.2em; }
      .cardHolder .circle-container li:hover::after {
        background-color: #D63359; }
      .cardHolder .circle-container li:hover::before {
        width: 30px;
        height: 30px;
        border: 3px solid #D63359;
        top: 1px;
        left: -6px; }
      .cardHolder .circle-container li:hover .cardInfos {
        opacity: 1;
        visibility: visible; }
    .cardHolder .circle-container ul.alignLeft li {
      right: 50%;
      left: inherit;
      padding-left: 0px;
      padding-right: 40px;
      text-align: right; }
      .cardHolder .circle-container ul.alignLeft li::after {
        right: 0;
        left: inherit; }
      .cardHolder .circle-container ul.alignLeft li::before {
        right: -3px;
        left: inherit; }
      .cardHolder .circle-container ul.alignLeft li:hover::before {
        top: 1px;
        right: -8px;
        left: inherit; }
    .cardHolder .circle-container .cardTilt {
      width: 100%;
      height: 100%; }
      .cardHolder .circle-container .cardTilt img {
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); }
    .cardHolder .circle-container .deg30 {
      transform: translateY(-310px) translateX(0px); }
    .cardHolder .circle-container .deg60 {
      transform: translateY(-200px) translateX(118px); }
    .cardHolder .circle-container .deg90 {
      transform: translateY(-90px) translateX(167px); }
    .cardHolder .circle-container .deg120 {
      transform: translateY(20px) translateX(176px); }
    .cardHolder .circle-container .deg150 {
      transform: translateY(130px) translateX(150px); }
    .cardHolder .circle-container .deg180 {
      transform: translateY(240px) translateX(77px); }
    .cardHolder .circle-container .deg210 {
      transform: translateY(-310px) translateX(-177px); }
    .cardHolder .circle-container .deg240 {
      transform: translateY(-180px) translateX(-308px); }
    .cardHolder .circle-container .deg270 {
      transform: translateY(-30px) translateX(-353px); }
    .cardHolder .circle-container .deg300 {
      transform: translateY(120px) translateX(-331px); }
    .cardHolder .circle-container .deg330 {
      transform: translateY(250px) translateX(-244px); }

.latestNewsSection {
  padding: 100px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.33); }
  .latestNewsSection h2 {
    font-size: 0.7em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px; }
  .latestNewsSection::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    height: 50px;
    width: 2px;
    background-color: #fff;
    opacity: 0.5; }
  .latestNewsSection::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    opacity: 0.5; }

.footer {
  padding: 30px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.33); }
  .footer .footerLogo {
    opacity: 0.5; }
  .footer .credit {
    color: #fff;
    opacity: 0.5;
    margin: 10px 0 0;
    font-size: 0.6em;
    letter-spacing: 4px; }

.latestNewsSection .swiper-container {
  width: 100%;
  margin: 0px auto 0;
  padding: 100px 0; }

.latestNewsSection .swiper-slide {
  text-align: center;
  width: 350px;
  height: 600px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.itemContainer {
  position: relative;
  height: 100%;
  width: 100%; }
  .itemContainer .itemImage {
    height: 100%;
    overflow: hidden;
    border-radius: 15px; }
    .itemContainer .itemImage img {
      height: 100%; }
  .itemContainer .itemTitle {
    position: absolute;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 8px 14px rgba(0, 0, 0, 0.35);
    bottom: 60px;
    line-height: 120%;
    left: 5%;
    text-align: left; }
  .itemContainer .itemBottom {
    position: absolute;
    bottom: -20px;
    background: #fff;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    -webkit-border-radius: 5px; }
    .itemContainer .itemBottom .itemLeft {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.6em;
      opacity: 0.44;
      color: #5E5E5E;
      letter-spacing: 4px;
      padding-left: 20px; }
      .itemContainer .itemBottom .itemLeft a {
        color: #5E5E5E; }
      .itemContainer .itemBottom .itemLeft span.fa {
        font-size: 1.5em; }
    .itemContainer .itemBottom .itemLink a {
      font-size: 0.6em;
      letter-spacing: 4px;
      color: #5E5E5E;
      display: block;
      line-height: 60px;
      height: 60px;
      text-transform: uppercase;
      text-align: right;
      padding-right: 50px; }
      .itemContainer .itemBottom .itemLink a .linkAnim {
        width: 20px;
        right: 20px;
        height: 1px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        background-color: #5E5E5E; }
        .itemContainer .itemBottom .itemLink a .linkAnim::after {
          width: 5px;
          height: 5px;
          background-color: #5E5E5E;
          content: '';
          position: absolute;
          right: 0;
          top: -2px;
          border-radius: 50%;
          -webkit-border-radius: 50%; }
  .itemContainer:hover .itemImage img {
    opacity: 0.8; }
  .itemContainer:hover .itemBottom .itemLink a .linkAnim::after {
    right: 17px; }

.fixedScroll {
  overflow: hidden; }
  .fixedScroll .search {
    background-color: rgba(0, 0, 0, 0.35); }

.searchPopup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .searchPopup input {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.45;
    color: #fff;
    font-size: 5.5em;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none; }
  .searchPopup ::-webkit-input-placeholder {
    opacity: 1;
    color: #fff; }
  .searchPopup ::-moz-placeholder {
    opacity: 1;
    color: #fff; }
  .searchPopup :-ms-input-placeholder {
    opacity: 1;
    color: #fff; }
  .searchPopup :-moz-placeholder {
    opacity: 1;
    color: #fff; }
  .searchPopup .suggestion {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
    text-align: center;
    color: #fff;
    letter-spacing: 4px;
    font-size: 0.6em; }
    .searchPopup .suggestion ul {
      margin-top: 20px; }
    .searchPopup .suggestion li a {
      color: #fff;
      font-size: 1.5em;
      letter-spacing: 0px;
      display: block;
      text-decoration: underline;
      margin-bottom: 15px; }
      .searchPopup .suggestion li a:hover {
        text-decoration: none; }

.topImage {
  background-image: url(../images/bg-top.jpg);
  background-size: 100% auto;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; }

.newsListing .itemContainer {
  margin-bottom: 70px;
  height: 570px; }

.pressListing .itemContainer {
  margin-bottom: 70px;
  height: 370px; }
  .pressListing .itemContainer .itemImage img {
    width: 100%;
    height: auto; }

.resourcesListing .itemContainer {
  margin-bottom: 70px;
  height: 350px; }

.insideSearch {
  margin: 70px 0;
  position: relative; }
  .insideSearch ::-webkit-input-placeholder {
    opacity: 1;
    color: #fff; }
  .insideSearch ::-moz-placeholder {
    opacity: 1;
    color: #fff; }
  .insideSearch :-ms-input-placeholder {
    opacity: 1;
    color: #fff; }
  .insideSearch :-moz-placeholder {
    opacity: 1;
    color: #fff; }
  .insideSearch .inputSearch {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    line-height: 40px;
    padding-left: 20px;
    outline: none;
    color: #fff; }
  .insideSearch .submitSearch {
    position: absolute;
    background: none;
    cursor: pointer;
    color: #E04C6C;
    letter-spacing: 4px;
    font-size: 0.6em;
    border: none;
    right: 0;
    top: 10px;
    outline: none; }
    .insideSearch .submitSearch:hover {
      opacity: 0.8; }

.insidePagesContent h1 {
  opacity: 0.35;
  color: #FFFFFF;
  font-size: 5.5em;
  line-height: 107px;
  text-align: center;
  text-shadow: 0 8px 14px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  margin-bottom: -30px; }

.qaListing {
  position: relative;
  z-index: 12; }
  .qaListing .qaItem {
    margin-bottom: 50px; }
    .qaListing .qaItem .qaContent {
      background-color: #D2D2D2;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 30px 30px 50px 30px; }
      .qaListing .qaItem .qaContent .qaExpandableArea {
        display: none; }
      .qaListing .qaItem .qaContent .qaTitle {
        color: #5F5F5F;
        font-size: 1.3em;
        margin-bottom: 20px; }
      .qaListing .qaItem .qaContent .qaDetails {
        font-size: 0.7em;
        color: #777777;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #979797; }
      .qaListing .qaItem .qaContent .shareQa {
        text-align: right;
        font-size: 0.7em;
        color: #777777;
        margin-bottom: 20px; }
        .qaListing .qaItem .qaContent .shareQa a {
          display: inline-block;
          margin: 0 3px; }
          .qaListing .qaItem .qaContent .shareQa a:hover {
            opacity: 0.8; }
        .qaListing .qaItem .qaContent .shareQa .fa {
          font-size: 2em; }
        .qaListing .qaItem .qaContent .shareQa .fa-facebook-official {
          color: #475993; }
        .qaListing .qaItem .qaContent .shareQa .fa-linkedin-square {
          color: #0077b7; }
        .qaListing .qaItem .qaContent .shareQa .fa-twitter {
          color: #76a9ea; }
    .qaListing .qaItem .btn {
      display: block;
      text-align: right;
      width: 96%;
      margin: -50px auto 0; }
      .qaListing .qaItem .btn a {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        display: block; }
        .qaListing .qaItem .btn a.opened {
          color: rgba(0, 0, 0, 0.2); }
          .qaListing .qaItem .btn a.opened .linkAnim {
            opacity: 0.2; }
            .qaListing .qaItem .btn a.opened .linkAnim::after {
              right: 15px; }

.fullHeightSpace {
  position: relative;
  margin-top: -240px; }

.aboutIntro {
  position: absolute;
  z-index: 12;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 200px; }
  .aboutIntro h2 {
    color: #3071AC;
    font-size: 5em; }
  .aboutIntro .introAboutScroll {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7); }

.refugeeBenefits {
  background-image: url(../images/card-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center; }
  .refugeeBenefits h2 {
    color: #FFFFFF;
    font-size: 0.6em;
    letter-spacing: 4px;
    line-height: 20px;
    text-align: center;
    padding: 100px 0;
    position: relative; }
    .refugeeBenefits h2::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0px;
      height: 80px;
      width: 2px;
      background-color: #fff;
      opacity: 0.5; }
    .refugeeBenefits h2::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
      height: 80px;
      width: 2px;
      background-color: #fff;
      opacity: 0.5; }
  .refugeeBenefits .refugeeSlider {
    position: relative;
    height: 500px;
    padding-bottom: 100px; }
    .refugeeBenefits .refugeeSlider::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0px;
      height: 100%;
      width: 2px;
      background-color: #fff;
      opacity: 0.5; }
    .refugeeBenefits .refugeeSlider::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      height: 30px;
      width: 30px;
      border: 1px solid #fff;
      opacity: 0.5; }
    .refugeeBenefits .refugeeSlider .swiper-container {
      width: 100%;
      height: 100%; }
    .refugeeBenefits .refugeeSlider .refugeeImage {
      width: 400px;
      margin: 0 auto;
      height: 400px;
      background-color: #000;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      -webkit-border-radius: 50%;
      opacity: 0;
      transition-delay: 0.2s; }
      .refugeeBenefits .refugeeSlider .refugeeImage::before {
        width: 360px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        height: 360px;
        content: '';
        background-color: transparent;
        border: 1px solid #fff;
        position: absolute;
        left: 20px;
        z-index: 12;
        top: 20px; }
      .refugeeBenefits .refugeeSlider .refugeeImage img {
        opacity: 0.4;
        display: block;
        height: 100%;
        position: relative; }
    .refugeeBenefits .refugeeSlider .sliderLeft {
      width: 50%;
      float: left;
      text-align: right; }
    .refugeeBenefits .refugeeSlider .sliderRight {
      width: 44%;
      float: right;
      padding-right: 4%;
      position: relative;
      height: 100%; }
    .refugeeBenefits .refugeeSlider .refugeeInfos {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 70%; }
      .refugeeBenefits .refugeeSlider .refugeeInfos::after {
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 0%;
        height: 3px;
        background-color: #fff;
        right: 0px;
        position: absolute; }
      .refugeeBenefits .refugeeSlider .refugeeInfos::before {
        top: 50%;
        content: '';
        width: 15px;
        height: 15px;
        transform: translateY(-50%);
        transition-delay: 0.4s;
        opacity: 0;
        background-color: #fff;
        left: -60%;
        position: absolute;
        border-radius: 50%;
        -webkit-border-radius: 50%; }
      .refugeeBenefits .refugeeSlider .refugeeInfos .refugeePrice {
        color: #fff;
        font-size: 4em;
        text-shadow: 0 11px 14px rgba(0, 0, 0, 0.44);
        margin-bottom: 40px;
        transform: translateY(-30px);
        opacity: 0;
        transition-delay: 0.2s; }
      .refugeeBenefits .refugeeSlider .refugeeInfos .refugeeTitle {
        color: #fff;
        font-size: 1em;
        transform: translateY(30px);
        opacity: 0;
        transition-delay: 0.3s; }
      .refugeeBenefits .refugeeSlider .refugeeInfos .refugeeDescription {
        color: #fff;
        opacity: 0.5;
        font-size: 0.9em;
        transform: translateY(30px);
        opacity: 0;
        transition-delay: 0.4s; }
    .refugeeBenefits .refugeeSlider .swiper-slide.swiper-slide-active .refugeePrice,
    .refugeeBenefits .refugeeSlider .swiper-slide.swiper-slide-active .refugeeTitle,
    .refugeeBenefits .refugeeSlider .swiper-slide.swiper-slide-active .refugeeDescription {
      opacity: 1;
      transform: translateX(0px); }
    .refugeeBenefits .refugeeSlider .swiper-slide.swiper-slide-active .refugeeInfos::after {
      width: 160%; }
    .refugeeBenefits .refugeeSlider .swiper-slide.swiper-slide-active .refugeeInfos::before {
      opacity: 1; }
    .refugeeBenefits .refugeeSlider .swiper-slide.swiper-slide-active .refugeeImage {
      opacity: 1;
      transform: translateY(0px); }
    .refugeeBenefits .refugeeSlider .swiper-button-prev {
      width: 22px;
      height: 22px;
      background: url(../images/up-arrow.png) no-repeat 0 0/100% auto;
      right: 0;
      left: inherit;
      margin-bottom: 30px;
      transform: translateY(-50%); }
    .refugeeBenefits .refugeeSlider .swiper-button-next {
      right: 0;
      left: inherit;
      margin-top: 30px;
      width: 22px;
      height: 22px;
      background: url(../images/down-arrow.png) no-repeat 0 0/100% auto;
      transform: translateY(-50%); }
  .refugeeBenefits .aboutBottomContent {
    width: 45%;
    margin: 0 auto;
    padding: 50px 0 100px;
    text-shadow: 0 8px 14px rgba(0, 0, 0, 0.35);
    text-align: center;
    color: #fff; }

.burgerMenu {
  display: none; }

.moreNews {
  text-align: center; }
  .moreNews a {
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 4px; }
    .moreNews a span.fa {
      display: inline-block;
      width: 120px;
      height: 120px;
      line-height: 120px;
      margin-bottom: 10px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 1.5em;
      -webkit-border-radius: 50%;
      color: #777;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
    .moreNews a:hover {
      transform: scale(1.1); }

.quoteHolder {
  position: relative;
  padding: 100px 0 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover; }
  .quoteHolder .quote {
    position: relative;
    margin-bottom: 200px; }
    .quoteHolder .quote p {
      color: #fff;
      font-size: 26px; }
    .quoteHolder .quote span.quoteIcon {
      font-size: 100px;
      top: -40px;
      left: -80px;
      color: #fff;
      position: absolute; }
      .quoteHolder .quote span.quoteIcon.last {
        top: inherit;
        bottom: 20px;
        left: inherit;
        right: -20px; }
    .quoteHolder .quote .author {
      text-align: right;
      margin-top: 80px;
      color: #fff; }
