@font-face {
    font-family: "GothamBook";
    src: url("GothamBook.eot"); /* IE9 */
    src: url("GothamBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("GothamBook.woff") format("woff"), /* chrome, firefox */
    url("GothamBook.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("GothamBook.svg#GothamBook") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


