@font-face {
    font-family: 'TofinoUltra';
    src: url('../fonts/TofinoUltra.eot');
    src: url('../fonts/TofinoUltra.eot') format('embedded-opentype'), url('../fonts/TofinoUltra.woff') format('woff'), url('../fonts/TofinoUltra.ttf') format('truetype'), url('../fonts/TofinoUltra.svg#TofinoUltra') format('svg');
}

@font-face {
    font-family: 'TofinoRegular';
    src: url('../fonts/TofinoRegular.eot');
    src: url('../fonts/TofinoRegular.eot') format('embedded-opentype'), url('../fonts/TofinoRegular.woff2') format('woff2'), url('../fonts/TofinoRegular.woff') format('woff'), url('../fonts/TofinoRegular.ttf') format('truetype'), url('../fonts/TofinoRegular.svg#TofinoRegular') format('svg');
}

@font-face {
    font-family: 'TofinoBlack';
    src: url('../fonts/TofinoBlack.eot');
    src: url('../fonts/TofinoBlack.eot') format('embedded-opentype'), url('../fonts/TofinoBlack.woff2') format('woff2'), url('../fonts/TofinoBlack.woff') format('woff'), url('../fonts/TofinoBlack.ttf') format('truetype'), url('../fonts/TofinoBlack.svg#TofinoBlack') format('svg');
}


/******************* PRELOADER **********************/

.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.preloader {
    position: fixed;
    z-index: 111111;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #103049;
    background-image: url('../images/bg-preloader.jpg');
}

.fontTofinoUltra {
    font-family: 'TofinoUltra';
}

.fontTofinoRegular {
    font-family: 'TofinoRegular';
}

.fontTofinoBlack {
    font-family: 'TofinoBlack';
}

.transitionAll {
    transition: all linear 200ms;
    -webkit-transition: all linear 200ms;
    -moz-transition: all linear 200ms;
}

$blueColor:#3071AC;
$pinkColor: #D63359;
$darkBlueColor:#0F2C46;
a {
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
    }
    &:hover {
        color: $blueColor;
        text-decoration: none;
        outline: none;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    font-size: 18px;
}

.textShadow {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
}

.zindexHigh {
    z-index: 1000;
    position: relative;
}

#scene {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    .layer {
        position: relative !important;
        height: 100%;
        img {
            z-index: 12;
            width: 110%;
            position: absolute;
            top: 0;
            margin-left: -5%;
        }
    }
}

.clearBoth {
    clear: both;
}

.btn {
    a {
        color: #fff;
        text-transform: uppercase;
        padding-right: 60px;
        position: relative;
        font-size: 16px;
        direction: block;
        @extend.fontTofinoUltra;
        &::after {
            width: 40px;
            height: 3px;
            content: '';
            background-color: #fff;
            position: absolute;
            right: 0;
            top: 10px;
            @extend.transitionAll;
        }
        &:hover {
            &::after {
                right: -10px;
            }
        }
    }
}

.header {
    margin: 80px 0;
    .logo {
        display: inline-block;
    }
    nav {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        width: calc(100% - 285px);
        li {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            a {
                @extend.fontTofinoRegular;
                color: #fff;
                font-size: 1em;
                display: block;
                line-height: 100%;
                padding: 8px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.35);
                }
            }
        }
    }
}

.search {
    display: inline-block;
    .fa-search {
        color: #fff;
        margin-left: 30px;
        cursor: pointer;
    }
}

.searchPopup {
    display: none;
}

.firstScreen {
    width: 100%;
    top: 0;
    z-index: 1;
    left: 0;
    .container {
        text-align: center;
    }
    h1 {
        color: #fff;
        font-size: 1em;
        margin-top: 50px;
        span {
            @extend.fontTofinoUltra;
            @extend.textShadow;
            color: $blueColor;
            font-size: 5.5em;
        }
    }
    h2 {
        @extend.fontTofinoUltra;
        color: #fff;
        @extend.textShadow;
        font-size: 5.5em;
    }
    p {
        color: #fff;
        font-size: 1em;
        margin-top: 50px;
        width: 50%;
        margin: 0 auto;
    }
}

.toNextSection {
    position: absolute;
    bottom: 80px;
    z-index: 12;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    color: #fff;
    text-align: center;
    cursor: pointer;
    &::before {
        position: absolute;
        height: 30px;
        bottom: -55px;
        left: 50%;
        border: 1px solid #fff;
        border-radius: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        content: '';
        width: 30px;
    }
    &::after {
        position: absolute;
        height: 100px;
        bottom: -140px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        content: '';
        width: 1px;
        background-color: #fff;
    }
}

.timelineHolder {
    position: relative;
    z-index: 12;
    margin-top: -150px;
    .timelineDate {
        text-align: center;
        font-size: 1em;
        @extend.fontTofinoRegular;
        color: #fff;
        margin-bottom: 20px;
    }
    .timelineList {
        position: relative;
        clear: both;
        &::after {
            position: absolute;
            height: 120%;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            content: '';
            width: 1px;
            background-color: #fff;
        }
        .timlineItem {
            position: relative;
            clear: both;
            .timelineInfos {
                width: 50%;
                float: right;
                padding-left: 80px;
                text-align: left;
                h3 {
                    font-size: 4em;
                    color: #fff;
                    @extend.textShadow;
                    @extend.fontTofinoUltra;
                }
                p {
                    font-size: 1em;
                    color: #fff;
                    @extend.fontTofinoRegular;
                }
            }
            .timelineImage {
                width: 50%;
                float: left;
                padding-right: 40px;
                position: relative;
                &::before {
                    height: 10px;
                    width: 10px;
                    background-color: #fff;
                    content: '';
                    position: absolute;
                    left: inherit;
                    top: 46px;
                    right: -30px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                }
                &::after {
                    height: 3px;
                    width: 124px;
                    background-color: #fff;
                    content: '';
                    position: absolute;
                    left: inherit;
                    top: 50px;
                    right: -30px;
                }
                img {
                    width: 100%;
                }
            }
            &:nth-child(2n) {
                .timelineInfos {
                    float: left;
                    text-align: right;
                    padding-right: 80px;
                    padding-left: 0px;
                }
                .timelineImage {
                    float: right;
                    padding-left: 40px;
                    padding-right: 0px;
                    &::after {
                        left: -30px;
                    }
                    &::before {
                        left: -30px;
                    }
                }
            }
        }
    }
    .facts {
        text-align: center;
        color: #fff;
        width: 100%;
    }
}

.cardHolder {
    width: 100%;
    overflow: hidden;
    text-align: center;
    .js-tilt {}
}