@font-face {
  font-family: 'TofinoUltra';
  src: url("../fonts/TofinoUltra.eot");
  src: url("../fonts/TofinoUltra.eot") format("embedded-opentype"), url("../fonts/TofinoUltra.woff") format("woff"), url("../fonts/TofinoUltra.ttf") format("truetype"), url("../fonts/TofinoUltra.svg#TofinoUltra") format("svg"); }

@font-face {
  font-family: 'TofinoRegular';
  src: url("../fonts/TofinoRegular.eot");
  src: url("../fonts/TofinoRegular.eot") format("embedded-opentype"), url("../fonts/TofinoRegular.woff2") format("woff2"), url("../fonts/TofinoRegular.woff") format("woff"), url("../fonts/TofinoRegular.ttf") format("truetype"), url("../fonts/TofinoRegular.svg#TofinoRegular") format("svg"); }

@font-face {
  font-family: 'TofinoBlack';
  src: url("../fonts/TofinoBlack.eot");
  src: url("../fonts/TofinoBlack.eot") format("embedded-opentype"), url("../fonts/TofinoBlack.woff2") format("woff2"), url("../fonts/TofinoBlack.woff") format("woff"), url("../fonts/TofinoBlack.ttf") format("truetype"), url("../fonts/TofinoBlack.svg#TofinoBlack") format("svg"); }

/******************* PRELOADER **********************/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

.preloader {
  position: fixed;
  z-index: 111111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #103049;
  background-image: url("../images/bg-preloader.jpg"); }

.fontTofinoUltra, .btn a, .firstScreen h1 span, .firstScreen h2, .timelineHolder .timelineList .timlineItem .timelineInfos h3 {
  font-family: 'TofinoUltra'; }

.fontTofinoRegular, .header nav li a, .timelineHolder .timelineDate, .timelineHolder .timelineList .timlineItem .timelineInfos p {
  font-family: 'TofinoRegular'; }

.fontTofinoBlack {
  font-family: 'TofinoBlack'; }

.transitionAll, .btn a::after {
  transition: all linear 200ms;
  -webkit-transition: all linear 200ms;
  -moz-transition: all linear 200ms; }

a:focus, a:active {
  outline: none;
  text-decoration: none; }

a:hover {
  color: #3071AC;
  text-decoration: none;
  outline: none; }

h1,
h2,
h3,
h4 {
  margin: 0; }

body {
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  font-size: 18px; }

.textShadow, .firstScreen h1 span, .firstScreen h2, .timelineHolder .timelineList .timlineItem .timelineInfos h3 {
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45); }

.zindexHigh {
  z-index: 1000;
  position: relative; }

#scene {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3; }
  #scene .layer {
    position: relative !important;
    height: 100%; }
    #scene .layer img {
      z-index: 12;
      width: 110%;
      position: absolute;
      top: 0;
      margin-left: -5%; }

.clearBoth {
  clear: both; }

.btn a {
  color: #fff;
  text-transform: uppercase;
  padding-right: 60px;
  position: relative;
  font-size: 16px;
  direction: block; }
  .btn a::after {
    width: 40px;
    height: 3px;
    content: '';
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 10px; }
  .btn a:hover::after {
    right: -10px; }

.header {
  margin: 80px 0; }
  .header .logo {
    display: inline-block; }
  .header nav {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: calc(100% - 285px); }
    .header nav li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
      .header nav li a {
        color: #fff;
        font-size: 1em;
        display: block;
        line-height: 100%;
        padding: 8px; }
        .header nav li a:hover {
          background-color: rgba(0, 0, 0, 0.35); }

.search {
  display: inline-block; }
  .search .fa-search {
    color: #fff;
    margin-left: 30px;
    cursor: pointer; }

.searchPopup {
  display: none; }

.firstScreen {
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0; }
  .firstScreen .container {
    text-align: center; }
  .firstScreen h1 {
    color: #fff;
    font-size: 1em;
    margin-top: 50px; }
    .firstScreen h1 span {
      color: #3071AC;
      font-size: 5.5em; }
  .firstScreen h2 {
    color: #fff;
    font-size: 5.5em; }
  .firstScreen p {
    color: #fff;
    font-size: 1em;
    margin-top: 50px;
    width: 50%;
    margin: 0 auto; }

.toNextSection {
  position: absolute;
  bottom: 80px;
  z-index: 12;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  color: #fff;
  text-align: center;
  cursor: pointer; }
  .toNextSection::before {
    position: absolute;
    height: 30px;
    bottom: -55px;
    left: 50%;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    content: '';
    width: 30px; }
  .toNextSection::after {
    position: absolute;
    height: 100px;
    bottom: -140px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    content: '';
    width: 1px;
    background-color: #fff; }

.timelineHolder {
  position: relative;
  z-index: 12;
  margin-top: -150px; }
  .timelineHolder .timelineDate {
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin-bottom: 20px; }
  .timelineHolder .timelineList {
    position: relative;
    clear: both; }
    .timelineHolder .timelineList::after {
      position: absolute;
      height: 120%;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      content: '';
      width: 1px;
      background-color: #fff; }
    .timelineHolder .timelineList .timlineItem {
      position: relative;
      clear: both; }
      .timelineHolder .timelineList .timlineItem .timelineInfos {
        width: 50%;
        float: right;
        padding-left: 80px;
        text-align: left; }
        .timelineHolder .timelineList .timlineItem .timelineInfos h3 {
          font-size: 4em;
          color: #fff; }
        .timelineHolder .timelineList .timlineItem .timelineInfos p {
          font-size: 1em;
          color: #fff; }
      .timelineHolder .timelineList .timlineItem .timelineImage {
        width: 50%;
        float: left;
        padding-right: 40px;
        position: relative; }
        .timelineHolder .timelineList .timlineItem .timelineImage::before {
          height: 10px;
          width: 10px;
          background-color: #fff;
          content: '';
          position: absolute;
          left: inherit;
          top: 46px;
          right: -30px;
          border-radius: 50%;
          -webkit-border-radius: 50%; }
        .timelineHolder .timelineList .timlineItem .timelineImage::after {
          height: 3px;
          width: 124px;
          background-color: #fff;
          content: '';
          position: absolute;
          left: inherit;
          top: 50px;
          right: -30px; }
        .timelineHolder .timelineList .timlineItem .timelineImage img {
          width: 100%; }
      .timelineHolder .timelineList .timlineItem:nth-child(2n) .timelineInfos {
        float: left;
        text-align: right;
        padding-right: 80px;
        padding-left: 0px; }
      .timelineHolder .timelineList .timlineItem:nth-child(2n) .timelineImage {
        float: right;
        padding-left: 40px;
        padding-right: 0px; }
        .timelineHolder .timelineList .timlineItem:nth-child(2n) .timelineImage::after {
          left: -30px; }
        .timelineHolder .timelineList .timlineItem:nth-child(2n) .timelineImage::before {
          left: -30px; }
  .timelineHolder .facts {
    text-align: center;
    color: #fff;
    width: 100%; }

.cardHolder {
  width: 100%;
  overflow: hidden;
  text-align: center; }
